config/BraveSoftware/
config/discord/
config/Discord/
config/Electron/
config/.mozilla/
config/kdeconnect/
config/kiorc
config/knfshare
config/krusaderrc
config/kwalletrc
config/menus/
config/obs-studio/
config/partitionmanagerrc
config/welcome.conf
config/systemd/
config/unity3d/
config/user-dirs.dirs
config/user-diers.locale
config/GitHub Desktop/
config/audacity/
config/mimeapps.list
config/dconf/
configpulse/
config/procps/
config/qimgv/
config/session/
config/xsettingsd/
config/yay/
config/dolphinrc
config/baloofileinformationrc
config/QtProject.conf
config/spotify/
config/trashrc
config/user-dirs.locale
config/filetypesrc
config/knfsshare
config/EOS-greeter.conf
config/vlc/
config/sumatrapdf/
config/l3afpad/
config/GIMP/
config/peazip/
config/Thunar/
config/xfce4/
config/Vencord/dist
config/pulse
