@import url("resource:///org/numixproject/gtk/dist/gtk-dark.css");

decoration {
  box-shadow: none;
  border-width: 1px;
  border-style: solid;
  border-color: #85796f;
}
decoration:backdrop {
  box-shadow: none;
  border-width: 1px;
  border-style: solid;
  border-color: #353535;
}
