@import url("resource:///org/numixproject/gtk/dist/gtk-dark.css");
decoration {
  box-shadow: none;
  border-width: 1px;
  border-style: solid;
  border-color: #7d7268;
}
decoration:backdrop {
  box-shadow: none;
  border-width: 1px;
  border-style: solid;
  border-color: #373737;
}
